
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link(rel="stylesheet", href="public/style.css")>
</head>
  <!-- h1 Cadastro de Produtos de Informática
  a(href="/login") Entrar
  a(href="/produto") Ver Produtos -->

  <h1>Cadastro de Produtos de Informática</h1>
  <a href="/login"></a>
  <a href="/produto"></a>
</html>


<footer>
  <p>
    <a href="https://github.com/IvanSena/loja-de-it.git">Ivan Sena</a>
    <a href="29/03/2024"></a>
  </p>
</footer>